/* ------------------------------------------------------------   CLASSES FOR SCREENS  >768px */





/* ----------------------------------- BOB-SHOOTING SCREEN */
.hide {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 200;
    min-width: 100vh;
    min-height: 100vmax;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    font-weight: bold;
    color: white;
    background-color: black;

}

.show {
    display: flex;
}

.show1 {
    display: flex;
}


/* END:  BOB-SHOOTING SCREEN--- BOB-SHOOTING SCREEN---- END  BOB-SHOOTING SCREEN */


/*  ----------------- RESPONSIVE MENU -------------- */
.burger {
    display: none;
}

.burger-lines {
    width: 40px;
    height: 3px;
    background-color: #010001;
    margin-top: 10px;

}

.burger-icon {
    display: none;
}


.hideNav {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    background-color: white;

    min-width: 50vh;
    height: 100%;
    z-index: 500;
    margin-top: 36.4rem;
    min-height: 100vh;
    left: 0;
}

/* BACKGROUND  */
.hideBackground {
    display: none;
    background-color: #010001a9;
    position: absolute;
    z-index: 5;
    max-width: 72rem;
    min-width: 100vw;
    height: 100vh;
    min-height: 80rem;

}


/* END RESPONSIVE MENU ----------------END RESPONSIVE MENU --------------END RESPONSIVE MENU */

/*  ----------------- DROP-DOWN  -------------- */

/* END DROP-DOWN  ----------------END DROP-DOWN  --------------END DROP-DOWN  */