.hide {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 200;
    min-width: 100vh;
    min-height: 100vmax;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    font-weight: bold;
    color: white;
    background-color: black;

}

@media screen and (max-width: 426px) {
    .hide {
        font-size: 2rem;
        min-width: 100vh;
        min-height: 300vmax;
        justify-content: start;
        padding-top: 30rem;
    }
}



.show {
    display: flex;
}

.burger {
    display: none;
}

.burger-lines {
    width: 40px;
    height: 3px;
    background-color: #010001;
    margin-top: 10px;

}

.burger-icon {
    display: none;
}



.hideNav {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    background-color: white;
    min-width: 50vh;
    height: 100%;
    z-index: 500;
    margin-top: 36.5rem;
    min-height: 100vh;
    left: 0;
}





/* *******************************************************************    SMALLER SCREENS  */

@media screen and (max-width: 768px) {

    /*  ----------------- RESPONSIVE MENU -------------- */
    .active {
        transform: translate(0%);

    }





    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        height: 40px;
        cursor: pointer;
        border: none;
        margin-top: -10px;
    }


    .burger.active .burger-lines:first-child {
        position: absolute;
        transform: translateX(-555px);
        top: -25px;
        height: 110vh;
        width: 70vw;
        background-color: rgba(0, 0, 0, 0.827);
    }


    .burger.active .burger-lines:nth-child(2) {
        display: none;

    }

    .burger.active .burger-lines:nth-child(3) {
        display: none;

    }

    .burger-icon {
        display: flex;
        width: 100%;
        position: absolute;
        top: 0.2rem;
        left: 18.7rem;
        font-size: 20px;
        color: red;
    }





    /*  ----------------- DROP-DOWN MENU -------------- */
    .show {
        display: flex;

    }




}